{% extends "base.html" %}

{% block title%}
About:GSMST philanthropy organization
{% endblock%}

{% block content %}
    <img src = "{{url_for('static',filename = 'GPicon.png')}}" style: "mix-blend-mode: multiply; vertical-align:middle;">
<h1>History<small> About GSMST</small></h1>
<div class = "lead">
    The Gwinnett School of Mathematics, Science, and Technology began in 2007 as a Science, Technology, Engineering, and Mathematics (STEM) charter school.
</div>
<p>
    Gwinnett County Public Schools sought to create a new high school with a rigorous, authentic STEM-focused curriculum. The district conducted national research of existing secondary school programs, reviewing curriculum, visiting campuses, and meeting with school leaders. In March of 2006, the Gwinnett County Board of Education approved a charter that allowed for the flexibility in curriculum design and scheduling needed to realize the vision for the school.
</p>
<p>
    GSMST opened the 2007 – 2008 school year in borrowed space on the campus of Duluth High School. Operating independently with its own faculty and administration, GSMST renovated and updated a handful of classrooms and offices to support the vision of a 21st Century learning environment. Meanwhile, work began on a new state of the art facility on the site of the old Benefield Elementary School in Lawrenceville, at the geographic center of Gwinnett County. The new building opened in the fall of 2010, hosting GSMST’s first graduating class.
</p>
<hr>
<h1>Facilities and Technology<small> About GSMST</small></h1>
<p>
    Designed to house 1,200 students, the campus features specially-equipped classrooms, science labs, digital media production facilities for sound and video, and large project spaces dedicated to engineering, robotics, and art and design. The building also incorporates features frequently found in university and corporate settings: large lecture halls with videoconferencing capabilities and flexible floor plans, building-wide wireless networking, and comfortable common areas to foster community and collaboration.
</p>
<p>
    Technology plays an integral role in supporting curriculum and instruction at GSMST. In our 1:1 student laptop environment, students have instant access to eClass (Gwinnett County’s online learning platform), the Online Research Library, and industry standard software from Microsoft, Adobe, Autodesk, and more. Students also use their laptops to take advantage of online learning opportunities provided by GCPS, including health, language and psychology offerings. Teachers and students also have access to Smart interactive whiteboards, overhead LCD Projectors, language learning labs, and instructional computer labs with high-powered workstations designed for CAD, 3D design and animation, application programming, and media production. GSMST’s mathematics faculty uses high-definition videoconferencing to deliver advanced classes to students at other Gwinnett County high schools.
</p>
<hr>
<h1>Volunteer<small> About Our Organization</small></h1>
<p>
    Our organization’s first decade has been one of growth and achievement. 
</p>
{% endblock %}