{% extends "base.html" %}

{% block title%}
About:GSMST philanthropy organization
{% endblock%}

{% block content %}
<dl>
    <dt>Address</dt>
    <dd>970 McElvaney Lane Lawrenceville, GA 30044</dd>
    <dt>Phone</dt>
    <dd>678-518-6700</dd>
    <dt>website</dt>
    <dd><a href = "https://hackgwinnett.github.io/">https://hackgwinnett.github.io/</a></dd>
    <dt><code>github</code></dt>
    <dd><a href= "https://github.com/hackgwinnett">https://github.com/hackgwinnett</a></dd>
</dl>
{% endblock %}